# Don't track the following folders
.vscode/
__pycache__/
venv/
protected

# Don't track the following files
achieve.db
roster.txt
client_schedule.csv
staff_schedule.csv
.~lock.client_schedule.csv#
.~lock.staff_schedule.csv#
schedule.ods
schedule.xlsm
test.py
clienticon.png
logo.png
scheduleicon.png
stafficon.png


