body{
    background-color: #212962;
}

nav{
    background-color: #7acedc;
}

.page_title{
    font-size: 9em;
    text-decoration: none;
    color: #212962;
    transition: color .25s;
}

.nav_links{
    text-decoration: none;
    color: #212962;
    font-size: 1.5em;
    transition: font-size .5s, color .5s;
    margin-left: 15px;
}

#staff_link
{
    margin-left: 50px;
}

.nav_links:hover{
    font-size: 2.3em;
}

.nav_links:hover, .page_title:hover{
    color: white;
}

#img_puzzle
{
    height: 200px;
    width: 200px;
    padding-left: 35px;
    padding-top: 35px;
}

header
{
    text-align: center;
    background-color: #a52228;
    padding: 10px;
}

.description
{
    background-color: whitesmoke;
}

h2
{
    font-size: 2em;
    background-color: #7acedc;
    padding-left: 10px;
    border: solid 2px darkslategrey;
    margin-left: 20px;
    margin-right: 20px;
}

#server_error
{
    text-align: center;
    background-color: #a52228;
    font-weight: bold;
}

footer
{
    text-align: center;
    color: #aaaaaa;
    font-size: 12px;
    margin: 10px;
}

.div_forms
{
    background-color: whitesmoke;
    margin-top: 0px;
    padding: 1px;
}

.btn_submit
{
    width: 120px;
    padding: 10px;
    margin: 10px;
}

#btn_generate
{
    width: 40%;
    height: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 5px;
    background-color: lightslategrey;
    border: solid 1px rgb(128, 128, 128);
    transition: font-size .5s, background-color .5s;
}

#btn_generate:hover
{
    background-color: rgb(146, 180, 224);
    border: solid 2px rgb(2, 93, 179);
    font-size: 108%;
}

fieldset, .welcome
{
    padding: 10px;
    margin: 20px;
}

.list_title
{
    margin-left: 20px;
}

.form_titles
{
    margin-left: 10px;
}

input, select
{
    padding: 10px 10px;
    margin: 10px;
}

#container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.big_link
{
    width: 400px;
    margin: 15px;
    text-align: center;
    padding: 5px;
    background-color: #7acedc;
    border: solid 2px darkslategrey;
}

.big_icon
{
    width: 390px;
    height: 390px;
}

.big_link:hover
{
    background-color: #b6dee6;
}

.icon_links
{
    text-decoration: none;
    color: darkslategrey;
}