body{
    background-color: #212962;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

header
{
    text-align: center;
    padding: 1px;
    font-size: .8em;
    color:rgb(39,171,113)
}

.description
{
    background-color: whitesmoke;
}

h2
{
    color: #212962;
    font-size: 1.25em;
    padding-left: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

footer
{
    text-align: center;
    color: #aaaaaa;
    font-size: 12px;
    margin: 10px;
}

/* ################################################### INPUT FORMS ########################################################################## */
.div_forms
{
    background-color: whitesmoke;
    margin-top: 0px;
    padding: 1px;
}

.btn_submit
{
    padding: 10px;
    margin: 10px;
    width: 20%;
    height: 51px;
}

.fieldset, .welcome
{
    margin-left: 20px;
}

.list_title
{
    margin-left: 20px;
}

.form_titles
{
    color: #212962;
    font-size: 1.25em;
    margin-left: 10px;
}

input, select
{
    padding: 10px 10px;
    margin: 10px;
}

input[type=text], input[type=time]
{
    width: 30%;
    height: 30px;
}

select
{
    height: 51px;
    width: 31.5%;
}

.slct_weekday
{
    width: 83px;
    margin-right: 0;
    margin-left: 0;
    text-align: center;
}

#mon, #mon2
{
    margin-left: 10px;
}

.tab_add-remove, .tab_update
{
    display: inline-block;
    padding: 10px;
    font-size: 2em;
    font-weight: bold;
}

.tab_add-remove a, .tab_update a
{
    text-decoration: none;
    color:rgb(39,171,113);
}

.tab_add-remove:hover, .tab_update:hover
{
    background-color: rgb(220, 231, 235);
}

/* ################################################### NAVIGATION STRIP ########################################################################## */
#nav
{
    background-color: rgb(220, 231, 235);
}
.page_title{
    font-size: 80px;
    transition: color .25s;
    text-decoration: none;
    color: #212962;
}
.page_title:hover{
    color: white;
}
#img_puzzle
{
    height: 80px;
    width: 80px;
    padding: 10px;
}
.nav_list
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(220, 231, 235);
    display: inline-block;
}

.nav_list > li
{
    margin: 0;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav_list a, .dropbtn
{
    color: #212962;
    font-size: 1.1em;
    text-decoration: none;
    padding: 10px 12px;
}

.nav_list a:hover, .dropdown:hover .dropbtn
{
    background-color: whitesmoke;
}

.dropdown_content
{
    display: none;
    position: absolute;
    background-color: rgb(228, 228, 228);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown_content a
{
    display: block;
    text-align: left;
}

.dropdown_content a:hover
{
    background-color: rgb(185, 195, 204);
}
.dropdown:hover .dropdown_content
{
    display: block;
}

#login
{
    float: right;
    font-size: .7em;
}

#login li, #login a
{
    color: gray;
}

#login a:hover{
    color: #212962;
    background-color: #7acedc;
    background-color: rgb(220, 231, 235);
}
/* ################################################### HOMEPAGE BIG BUTTONS ###################################################################### */

#container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.big_link
{
    width: 400px;
    margin: 15px;
    text-align: center;
    padding: 5px;
    background-color: rgb(220, 231, 235);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
}

.big_icon
{
    width: 390px;
    height: 390px;
}

.big_link:hover
{
    background-color: #b6dee6;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.39);
}

.icon_links
{
    text-decoration: none;
    color: darkslategrey;
}

/* ################################################### LOGIN PAGE ############################################################################### */

.login_form
{
    display: block;
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: 0;
    background-color: whitesmoke;
    padding: 10px;
}

.login_input
{
    width: 25%;
    text-align: center;
}

#btn_login, #btn_changepw
{
    padding-top: 9px;
    padding-bottom: 9px;
}

/* ################################################### WEEK DAY CHECK BOXES ###################################################################### */

.lst_client_days
{
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.chbx_client_days, .chbx_staff_days
{
    display: inline-block;
}

/* ################################################### SCHEDULE PAGE ############################################################################ */

#slct_schedule_day
{
    width: 200px;
}

#btn_generate
{
    width: 40%;
    height: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: lightslategrey;
    border: solid 1px rgb(128, 128, 128);
    transition: font-size .1s, background-color .5s;
}

#btn_generate:hover
{
    background-color: rgb(146, 180, 224);
    border: solid 2px rgb(2, 93, 179);
    font-size: 108%;
}

/* ################################################### FLASK FLASHED MESSAGES ############################################################################ */
.alert
{
    background-color: green;
    border-top: 1px solid grey;
    text-align: center;
    padding: 15px;
    font-size: 1.25em;
}

.error
{
    background-color: red;
    border-top: 1px solid grey;
    text-align: center;
    padding: 15px;
    font-size: 1.25em;
}

.info 
{
    display: none;
    color: red;
    text-align: center;
    font-size: 1em;
    background-color: whitesmoke;
}

/* ################################################### ALL TABLES ############################################################################ */
th, td
{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
    border: 1px solid grey;
}

table, th, td
{
    color: black;
    border-collapse: collapse;
}

th
{
    font-weight: bold;
}

caption{
    border-collapse: collapse;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.4em;
    letter-spacing: 2px;
}

table
{
    border-style: hidden;
    width: 90%;
    margin: auto;
}

/* ################################################### SPECIFIC TABLES ######################################################################## */
.teams_clientnames
{
    text-align: center;
    border-style: none;
}
.teams_staffnames
{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid grey;
    background-color: rgb(235, 235, 235);
}
.table_container
{
    width: 100%;
    background-color: whitesmoke;
    overflow: auto; /* div was is 0px tall because child elements are set to float, thus background-color does not work w/o this */
}
#table_client_sch
{
    overflow-y: auto;
    width: 49%;
    height: 600px;
    float: left;
}
#table_staff_sch
{
    overflow-y: auto;
    width: 49%;
    height: 600px;
    float: right;
}
.table_either_sch
{
    margin: auto;
    width: 75%;
    height: 600px;
    overflow-y: auto;
}

#table_staffinfo
{
    overflow-y: auto;
    width: 60%;
    height: 600px;
    float: left;
}

#table_staffteams
{
    overflow-y: auto;
    width: 38%;
    height: 600px;
    float: right;
}