body{
    background-color: #212962;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
header
{
    text-align: center;
    padding: 1px;
    font-size: .8em;
    color:rgb(39,171,113)
}
.description
{
    background-color: whitesmoke;
}
h2
{
    color: #212962;
    font-size: 1.25em;
    padding-left: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
footer
{
    text-align: center;
    color: #aaaaaa;
    font-size: 12px;
    margin: 10px;
}
/* ################################################### INPUT FORMS ########################################################################## */
.div_forms
{
    background-color: whitesmoke;
    margin-top: 0px;
    text-align: center;
}
.btn_submit
{
    padding: 10px;
    margin: 10px;
    width: 20%;
    height: 51px;
    background-color: rgb(39,171,113);
    border-radius: 5px;
    border: none;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: bold;
}
.btn_submit:hover
{
    background-color: rgb(79, 190, 142);
}
.btn_submit:active
{
    border: 1px solid lightgrey;
    font-size: .8em;
}
.fieldset, .welcome
{
    margin-left: 20px;
}
.list_title
{
    margin-left: 20px;
}
.form_titles
{
    color: #212962;
    font-size: 1.25em;
    margin-left: 10px;
}
input, select
{
    padding: 10px 10px;
    margin: 10px;
}
input[type=text], input[type=time], input[type=password]
{
    width: 30%;
    height: 30px;
}
select, option
{
    height: 51px;
    width: 31.5%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.slct_weekday
{
    width: 83px;
    margin-right: 0;
    margin-left: 0;
    text-align: center;
}
#mon, #mon2
{
    margin-left: 10px;
}
.tabs
{
    background-color: whitesmoke;
}
.tab_add-remove, .tab_update, .tab3
{
    display: inline-block;
    padding: 10px;
    font-size: 2em;
    font-weight: bold;
}
.tab_add-remove a, .tab_update a, .tab3 a
{
    text-decoration: none;
    color:rgb(39,171,113);
}
.tab_add-remove:hover, .tab_update:hover, .tab3:hover
{
    background-color: rgb(220, 231, 235);
    border-bottom: 1px solid rgb(220, 231, 235);
}
/* ################################################### NAVIGATION STRIP ########################################################################## */
#nav
{
    background-color: rgb(220, 231, 235);
}
.page_title{
    font-size: 80px;
    text-decoration: none;
    color: #212962;
}
.page_title:hover{
    color: white;
}
#img_puzzle
{
    height: 80px;
    width: 80px;
    padding: 10px;
}
.nav_list
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(220, 231, 235);
    display: inline-block;
}

.nav_list > li
{
    margin: 0;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav_list a, .dropbtn
{
    color: #212962;
    font-size: 1.1em;
    text-decoration: none;
    padding: 10px 12px;
}

.nav_list a:hover, .dropdown:hover .dropbtn
{
    background-color: whitesmoke;
}

.dropdown_content
{
    display: none;
    position: absolute;
    background-color: rgb(228, 228, 228);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown_content a
{
    display: block;
    text-align: left;
}

.dropdown_content a:hover
{
    background-color: rgb(185, 195, 204);
}
.dropdown:hover .dropdown_content
{
    display: block;
}

#login
{
    float: right;
    font-size: .7em;
}

#login li, #login a
{
    color: gray;
}

#login a:hover{
    color: #212962;
    background-color: #7acedc;
    background-color: rgb(220, 231, 235);
}
/* ################################################### HOMEPAGE BIG BUTTONS ###################################################################### */

#container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.big_link
{
    width: 400px;
    margin: 15px;
    text-align: center;
    padding: 5px;
    background-color: rgb(220, 231, 235);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
}

.big_icon
{
    width: 390px;
    height: 390px;
}

.big_link:hover
{
    background-color: #b6dee6;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.39);
}

.icon_links
{
    text-decoration: none;
    color: darkslategrey;
}

/* ################################################### LOGIN PAGE ############################################################################### */

.login_form
{
    display: block;
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: 0;
    background-color: whitesmoke;
    padding: 10px;
}

#btn_login, #btn_changepw
{
    padding-top: 9px;
    padding-bottom: 9px;
    width: 31.5%;
}

/* ################################################### WEEK DAY CHECK BOXES ###################################################################### */

.lst_client_days
{
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.chbx_client_days, .chbx_staff_days
{
    display: inline-block;
}

/* ################################################### SCHEDULE PAGE ############################################################################ */

#btn_generate
{
    width: 31.5%;
    height: 51px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: rgb(39,171,113);
    font-weight: bold;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    border: none;
}

#btn_generate:hover
{   
    background-color: rgb(79, 190, 142);
}

#btn_generate:active{
    border: 1px solid lightgrey;
}
/* ################################################### FLASK FLASHED MESSAGES ############################################################################ */
.alert
{
    background-color: rgb(15, 141, 15);
    text-align: center;
    padding: 15px;
    font-size: 1.25em;
}

.error
{
    background-color: rgb(231, 8, 8);
    text-align: center;
    padding: 15px;
    font-size: 1.25em;
}

.info 
{
    display: none;
    color: rgb(231, 8, 8);
    text-align: center;
    font-size: 1em;
    background-color: whitesmoke;
}

/* ################################################### ALL TABLES ############################################################################ */
.spacer
{
    height: 50px;
    background-color: whitesmoke;
}
th, td
{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
    border: 1px solid lightgrey;
}

table, th, td
{
    color: black;
    border-collapse: collapse;
}

th
{
    font-weight: bold;
    color: rgb(39,171,113);
    color: #212962;
}

caption{
    border-collapse: collapse;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.4em;
    letter-spacing: 2px;
}

table
{
    border-style: hidden;
    width: 90%;
    margin: auto;
}

.sticky-th thead
{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999;
    background-color: rgb(220, 231, 235);
    background-color: whitesmoke;  /* testing out different colors */
}

/* ################################################### SPECIFIC TABLES ######################################################################## */
.teams_data
{
    border-style: none;
}
.teams_header
{
    text-transform: uppercase;
    font-weight: bold;
    border-style: none;
    border-bottom: 1px solid lightgrey;
}
.table_container
{
    width: 100%;
    background-color: whitesmoke;
    overflow: auto; /* div was is 0px tall because child elements are set to float, thus background-color does not work w/o this */
}
#table_client_sch
{
    overflow-y: auto;
    width: 49%;
    height: 600px;
    float: left;
}
#table_staff_sch
{
    overflow-y: auto;
    width: 49%;
    height: 600px;
    float: right;
}
.table_either_sch
{
    margin: auto;
    width: 85%;
    height: 600px;
    overflow-y: auto;
}

.table_staffinfo /*div that contains the table - Also applies to client Info */
{
    overflow-y: auto;
    width: 60%;
    height: 600px;
    float: left;
}

.table_staffteams /*div that contains the table - Also applies to client Info */
{
    overflow-y: auto;
    width: 38%;
    height: 600px;
    float: right;
}
 #table_staff_att, #table_staff_hours, #table_client_att, #table_client_hours
 {
    overflow-y: auto;
    height: 600px;
 }