{% extends "layout.html" %}
{% block title %}Classrooms{% endblock %}
{% block main %}
<div class="tabs">
    <header style="padding: 0;">
        <div style="background-color: rgb(220, 231, 235); border: 1px solid lightgrey;border-top: none;" class="tab_add-remove">
            <a style="color:#212962;" href="/classrooms">Add or Remove</a>
        </div><!--
        --><div class="tab_update">
            <a href="/classrooms-update">Update Classrooms</a>
        </div>
    </header>
</div>
<div class="div_forms">
    <form nonvalidate id="form_add_class" name="form_add_class" method="POST" action="/classrooms">
        <div class="fieldset"><br/>
            <lable class="form_titles" for="class_name">Classroom Name</lable><br/>
            <input type="text" id="class_name" name="class_name" placeholder="Classroom Name"><br/>
            <lable class="form_titles" for="class_hours_start">Start Time (hh:30)</lable><br/>
            <input type="time" name="class_hours_start" id="class_hours_start" placeholder="hh:mm (24hr)"><br/>
            <lable class="form_titles" for="class_hours_end">End Time (hh:30) </lable><br/>
            <input type="time" name="class_hours_end" id="class_hours_end" placeholder="hh:mm (24hr)"><br/><br/>
            <label class="form_titles" for="lst_client_dys">Check Days Classroom is In-session</label><br/>
            <ul id="lst_client_days" class="lst_client_days">
                <li class="chbx_staff_days"><input type="checkbox" name="monday" value="monday">Monday</li>
                <li class="chbx_staff_days"><input type="checkbox" name="tuesday" value="tuesday">Tuesday</li>
                <li class="chbx_staff_days"><input type="checkbox" name="wednesday" value="wednesday">Wednesday</li>
                <li class="chbx_staff_days"><input type="checkbox" name="thursday" value="thursday">Thursday</li>
                <li class="chbx_staff_days"><input type="checkbox" name="friday" value="friday">Friday</li>
            </ul><br/></br>
            <!--Main classroom Teachers-->
            <lable id="lable_class_teachers" class="form_titles">Choose Teachers</lable><br/>
            <select class="teachers" id="class_teacher1" name="class_teacher1">
                <option value="" selected disabled>Select Staff</option>
                {% for item in staff_query %}
                <option value="{{item['name']}}">{{ item["name"] }}</option>
                {% endfor %}
            </select>
            <select class="teachers" id="class_teacher2" name="class_teacher2">
                <option value="" selected disabled>Select Staff</option>
                {% for item in staff_query %}
                <option value="{{item['name']}}">{{ item["name"] }}</option>
                {% endfor %}
            </select><br/>
            <!--Substitute classroom Teachers-->
            <lable id="lable_sub_teachers" class="form_titles">Choose Substitute Teachers</lable><br/>
            <select class="teachers" id="sub_teacher1" name="sub1">
                <option value="" selected disabled>Select Staff</option>
                {% for item in staff_query %}
                <option value="{{item['name']}}">{{ item["name"] }}</option>
                {% endfor %}
            </select>
            <select class="teachers" id="sub_teacher2" name="sub2">
                <option value="" selected disabled>Select Staff</option>
                {% for item in staff_query %}
                <option value="{{item['name']}}">{{ item["name"] }}</option>
                {% endfor %}
            </select><br/>
            <select class="teachers" id="sub_teacher3" name="sub3">
                <option value="" selected disabled>Select Staff</option>
                {% for item in staff_query %}
                <option value="{{item['name']}}">{{ item["name"] }}</option>
                {% endfor %}
            </select>
            <select class="teachers" id="sub_teacher4" name="sub4">
                <option value="" selected disabled>Select Staff</option>
                {% for item in staff_query %}
                <option value="{{item['name']}}">{{ item["name"] }}</option>
                {% endfor %}
            </select><br/>
            <lable class="form_titles" for="class_rq">Required Number of Teachers</lable><br/>
            <input value="2" type=number min="1" max="3" name="class_rq" id="class_rq"><br/><br/>
            <button class="btn_submit" id="btn_add_class">Add Classroom</button>
        </div>
    </form>
    <form id="form_remove_class" name="form_remove_class" action="/classrooms-remove" method="POST">
        <div class="fieldset"><br/>
            <lable id="slct_className_title" class="form_titles" for="slct_class">Remove a Classroom</lable><br/>
            <select id="slct_class" name="slct_class">
                <option disabled selected value="">Classroom</option>
                {% for class in class_rms %}
                <option value ="{{ class['classroom'] }}">{{ class["classroom"] }}</option>
                {% endfor %}
            </select><br/>
            <button type="submit" id="btn_remove_class" class="btn_submit">Remove Classroom</button>
        </div>
    </form>
</div>
<script src="../static/classrooms.js" type="module"></script>
{% endblock %}