{% extends "layout.html" %}

{% block title %}Clients{% endblock %}

{% block main %}
    <div class="description">
        <header><h1>Manage Clients</h1></header>
    </div> 
    <div class="div_forms">
        <h2>Add or Remove Clients</h2>
        <form id="form_add_client" name="form_add_client" method="POST" action="/clients">
            <fieldset>
                <legend>Add a Client</legend>
                <input type="text" id="client_name" name="client_name" placeholder="Client Name" required>
                <label for="client_hours_start" class="form_titles">Start Time:</label>
                <input type="time" name="client_hours_start" id="client_hours_start" placeholder="hh:mm (24hr)">
                <label for="client_hours_end" class="form_titles">End Time:</label>
                <input type="time" name="client_hours_end" id="client_hours_end" placeholder="hh:mm (24hr)"><br/>
                <span class="form_titles">Assign Teachers to Team:</span><br/>
                <select name="assign_teacher0">
                    <option value="" selected disabled>Select Staff</option>
                    {% for item in staff_query %}
                    <option value="{{item['name']}}">{{ item["name"] }}</option>
                    {% endfor %}
                </select>
                <select name="assign_teacher1">
                    <option value="" selected disabled>Select Staff</option>
                    {% for item in staff_query %}
                    <option value="{{item['name']}}">{{ item["name"] }}</option>
                    {% endfor %}
                </select>
                <select name="assign_teacher2">
                    <option value="" selected disabled>Select Staff</option>
                    {% for item in staff_query %}
                    <option value="{{item['name']}}">{{ item["name"] }}</option>
                    {% endfor %}
                </select>
                <select name="assign_teacher3">
                    <option value="" selected disabled>Select Staff</option>
                    {% for item in staff_query %}
                    <option value="{{item['name']}}">{{ item["name"] }}</option>
                    {% endfor %}
                </select><br/>
                <button type="submit" id="btn_add_client" class="btn_submit" value="add_client" name="btn_add_client">Add Client</button>
            </fieldset>
        </form>
        <script>
            // store client first and last name in variable
            var client_name = document.getElementById("client_name");

            //Listen for the button being clicked
            document.getElementById("btn_add_client").addEventListener("click", function(event){

            //prevent form submission
                event.preventDefault();
                console.log("prevented submission");
                //send GET request with clientname
                $.get("/addclient?clientname=" + client_name.value, function(data){
                    console.log(data);
                    if (data == true)
                    {
                        document.getElementById("form_add_client").submit();
                    }
                    else
                    {
                        alert("Client Name already Exists")
                    }
                });
            });
        </script>
        <form id="form_remove_client" name="form_remove_client" action="/clients/remove" method="POST">
            <fieldset>
                <legend>Remove a Client</legend>
                <select id="slct_clietn" name="slct_client">
                    <option disabled selected>Client Name</option>
                    {% for name in client_query %}
                    <option value ="{{ name['name'] }}">{{ name["name"] }}</option>
                    {% endfor %}
                </select>
                <button type="submit" id="btn_remove_client" class="btn_submit">Remove Client</button>
            </fieldset>
        </form>
    </div>
    <div class="div_forms">
    <h2>Update Client Info</h2>
        <form id="form_update_client" name="form_update_client" method="POST" action="/clients/update">
            <fieldset>
                <legend>Update Client Info</legend>
                <select id="slct_update_client" name="update_client">
                    <option disabled selected>Client Name</option>
                    {% for name in client_query %}
                    <option value ="{{ name['name'] }}">{{ name["name"] }}</option>
                    {% endfor %}
                </select>
                    <lable for="new_client_hours_start">Start Time:</lable>
                    <input type="time" name="new_client_hours_start" id="new_client_hours_start" placeholder="hh:mm">
                    <lable for="new_client_hours_end">End Time:</lable>
                    <input type="time" name="new_client_hours_end" id="new_client_hours_end" placeholder="hh:mm"><br/>
                    <input type="radio" name="absent" value="1">Absent Today?
                    <input type="radio" name="absent" value="0">Present Today?<br/>
                    <p></p>Add or Remove a Teacher from Selected Client's Team<br/>
                    <select name="new_teacher"><br/>
                        <option disabled selected value="">Staff Name</option>
                        {% for name in staff_query %}
                        <option value="{{ name['name'] }}">{{ name["name"] }}</option>
                        {% endfor %}
                    </select>
                    <input type="radio" name="addOrRemove_teacher" value="add">Add
                    <input type="radio" name="addOrRemove_teacher" value="remove">Remove<br/>
                    <button type="submit" id="btn_update_client" class="btn_submit">Update Info</button>
            </fieldset>
        </form>
    </div>
{% endblock %}
