{% extends "layout.html" %}

{% block title %}Home{% endblock %}
{% block main %}
    <div class="description">
        <header>
            <h1>What is Achieve?</h1>
        </header>
        <h2>Description:</h2>
        <p class="welcome">
            In short Achieve is a scheduling web application that allows users to store client, staff, and team info in a database.
            Using that information Achieve can generate a daily schedule for the entire database of staff and clients. This schedule is downloadable
            as a "CSV" file. Which can be opened in MS Excel or a simular spreadsheet program.
        </p>
        <h2>Features:</h2>
        <h3 class="list_title">Current Features:</h3>
        <ul>
            <li>Securely add, edit, and remove client and staff info from database</li>
        </ul>
        <h3 class="list_title">Future Features:</h3>
        <ul>
            <li>Generate a daily schedule for clients and staff</li>
            <li>Generate downloadable CSV files for the daily schedule</li>
            <li>View selected client's or staff's teams, schedule, or info</li>
            <li>View entire schedule online</li>
            <li>Generate a weekly schedule</li>
            <li>Save, download, and view shedules generated in the past</li>
            <li>Mobile friendly</li>
        </ul>
        
        <!--Large "Button" Links for each of the website's main pages/functions-->
        <h2>Site Functions</h2>
        <div id="container">
            <div class="big_link">
                <a href="/clients" class="icon_links"><image class="big_icon" src="static/clienticon.png" alt="Manage Clients Link">Manage Clients</image></a>
            </div>
            <div class="big_link">
                <a href="/staff" class="icon_links"><image class="big_icon" src="static/stafficon.png" alt="Manage Staff Link">Manage Staff</image></a>
            </div>
            <div class="big_link">
                <a href="/schedule" class="icon_links"><image class="big_icon" src="static/scheduleicon.png" alt="Generate Schedule Link">Generate Schedule</image></a>
            </div>
        </div>
    </div>
    
{% endblock %}