<!DOCTYPE HTML>

<html>
    <head lang="eng"></head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="../static/styles.css" type="text/css" rel="stylesheet">
        <!--Links to Scripts go here-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <title>Achieve: {% block title %}{% endblock %}</title>
    </head>
    <body>
        <nav>
            {% if session.logged_in == True %}
            <div id="nav">
                <image id="img_puzzle" src="static/logo.png" alt="puzzle logo"></image>
                <a class="page_title" href="/">Achieve</a>
                <span><a id="staff_link" class="nav_links" href="/staff">Staff</a></span>
                <a class="nav_links" href="/clients">Clients</a>
                <span><a class="nav_links" href="/schedule">Schedule</a></span>
                <span class="nav_links">|</span>
                <span><a class="nav_links" id="logout_link" href="/logout">Log Out</a></span>
                <span><a class="nav_links" id="changepw_link" href="/changepw">Change Password</a></span>
            </div>
            {% else %}
            <div id="nav">
                <image id="img_puzzle" src="static/logo.png" alt="puzzle logo"></image>
                <a class="page_title" href="/">Achieve</a>
                <span><a class="nav_links" href="/login">Login</a></span>
            </div>
            {% endif %}
        </nav>
        {% if get_flashed_messages() %}
            {% if session.error == 1 %}
            <div class="error">
                {{ get_flashed_messages() | join(" ") }}
            </div>
            {% else %}
            <div class="alert">
                {{ get_flashed_messages() | join(" ") }}
            </div>
            {% endif %}
        {% endif %}

        <main>{% block main %}{% endblock %}</main>
        <footer>
            Website Design and Implementation by Daniel Johnson
        </footer>
    </body>
</html>