<!DOCTYPE HTML>

<html>
    <head lang="eng"></head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="../static/styles.css" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!--Links to Scripts go here-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <title>Achieve: {% block title %}{% endblock %}</title>
    </head>
    <body>
        <nav>
            {% if session.user_id == 0 %}
            <div id="nav">
                <a class="page_title" href="/">Achieve</a>
                <ul class="nav_list">
                    <li><a class="nav_links" href="/">Home</a></li>
                    <li class="dropdown">
                        <a href="/staff" class="dropbtn">Staff</a>
                        <div class="dropdown_content">
                            <a href="/staff">Manage Staff</a>
                            <a href="/staff/view-staff-info">View Staff Info</a>
                            <a href="/view-schedule/staff">View Staff Schedule</a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a class="dropbtn" href="/clients">Clients</a>
                        <div class="dropdown_content">
                            <a href="/clients">Manage Clients</a>
                            <a href="/clients/view-client-info">View Client Info</a>
                            <a href="/view-schedule/clients">View Client Schedule</a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a class="dropbtn" href="/classrooms">Classrooms</a>
                        <div class="dropdown_content">
                            <a href="/classrooms">Manage Classrooms</a>
                            <a href="/classrooms-viewinfo">View Classroom Info</a>
                        </div>
                    </li>
                    </li>
                    <li class="dropdown">
                        <a class="dropbtn" href="/schedule">Schedule</a>
                        <div class="dropdown_content">
                            <a href="/schedule">Scheduling</a>
                            <a href="/view-schedule/both">View Schedules</a>
                        </div>
                    </li>
                </ul>
                <ul id="login" class="nav_list">
                    <li><a class="nav_links" id="logout_link" href="/logout">Log Out</a></li>
                    <li>|</li>
                    <li><a class="nav_links" id="changepw_link" href="/changepw">Change Password</a></li>
                </ul>
            </div>
            {% elif session.user_id == 1 %}
            <div id="nav">
                <a class="page_title" href="/">Achieve</a>
                <ul class="nav_list">
                    <li><a class="nav_links" href="/">Home</a></li>
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropbtn">Staff</a>
                        <div class="dropdown_content">
                            <a href="/view-schedule/staff">View Staff Schedule</a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a class="dropbtn" href="javascript:void(0)">Clients</a>
                        <div class="dropdown_content">
                            <a href="/view-schedule/clients">View Client Schedule</a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a class="dropbtn" href="javascript:void(0)">Schedule</a>
                        <div class="dropdown_content">
                            <a href="/view-schedule/both">View Schedules</a>
                        </div>
                    </li>
                </ul>
                <ul id="login" class="nav_list">
                    <li><a class="nav_links" id="logout_link" href="/logout">Log Out</a></li>
                </ul>
            </div>
            {% else %}
            <div id="nav">
                <a class="page_title" href="/">Achieve</a>
            </div>
            {% endif %}
        </nav>
        {% if get_flashed_messages() %}
            {% if session.error == 1 %}
            <div class="error">
                {{ get_flashed_messages() | join(" ") }}
            </div>
            {% else %}
            <div class="alert">
                {{ get_flashed_messages() | join(" ") }}
            </div>
            {% endif %}
        {% endif %}
        <main>{% block main %}{% endblock %}</main>
        <div id="client_feedback">Please check<br/>the form<br/>for errors<br/></div>
        <footer>
                Aesthetic design by Christina Bobo<br/>Built by Daniel Johnson
        </footer>
    </body>
</html>