{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block main %}
    <header>
        <h1>Login to Access the Site</h1>
    </header>
    <div class="login_form">
        <form id="login" method="POST" action="/login">
            <p><input class="login_input" type="text" id="username" name="username" placeholder="Username" autofocus></p>
            <p><input class="login_input" type="password" id="password" name="password" placeholder="Password"></p>
            <p><button class="login_input" type="submit" id="btn_login">Login</button></p>
        </form>
        <script src="../static/login.js"></script>
    </div>
{% endblock %} 