{% extends "layout.html" %}

{% block title %}Schedule{% endblock %}

{% block main %}
    <div class="description">
        <header><h1>Schedule</h1></header>
    </div>
    <div class="div_forms">
        <h2>Generate Staff Schedule</h2>
        Forms go here Forms go hereForms go hereForms go hereForms go here Forms go
        Forms go here Forms go hereForms go hereForms go hereForms go here Forms go here
        Forms go hereForms go hereForms go hereForms go here Forms go here Forms go here
        <p>preview button?</p>
    </div>
    <div class="div_forms">
        <h2>Download File</h2>
        <p>download csv file here</p>
    </div>
{% endblock %}
