{% extends "layout.html" %}

{% block title %}Staff{% endblock %}

{% block main %}
    <div class="tabs">
        <header style="padding: 0;">
            <div style="background-color: rgb(220, 231, 235); border: 1px solid lightgrey;border-top: none;" class="tab_add-remove">
                <a style="color:#212962;" href="/staff">Add or Remove</a>
            </div><!--
            --><div class="tab_update">
                <a href="/staff-update">Update Staff</a>
            </div>
        </header>
    </div>
    <div class="div_forms">
        <form id="form_add_staff" action="/staff" method="POST">
            <div class="fieldset"><br/>
                <lable id="staff-name_title" class="form_titles" for="staff_name">Staff Name</lable><br/>
                <input type="text" id="staff_name" name="staff_name" placeholder="Staff Name"><br/>
                <lable class="form_titles" for="staff_hours_start">Start Time (hh:30)</lable><br/>
                <input type="time" name="staff_hours_start" id="staff_hours_start"placeholder="hh:mm (24hr)"><br/>
                <lable class="form_titles" for="staff_hours_end">End Time (hh:30) </lable><br/>
                <input type="time" name="staff_hours_end" id="staff_hours_end" placeholder="hh:mm (24hr)"><br/><br/>
                <label class="form_titles" for="lst_client_dys">Days Present (check all the apply)</label><br/>
                <ul id="lst_client_days" class="lst_client_days">
                    <li class="chbx_staff_days"><input type="checkbox" name="monday" value="monday">Monday</li>
                    <li class="chbx_staff_days"><input type="checkbox" name="tuesday" value="tuesday">Tuesday</li>
                    <li class="chbx_staff_days"><input type="checkbox" name="wednesday" value="wednesday">Wednesday</li>
                    <li class="chbx_staff_days"><input type="checkbox" name="thursday" value="thursday">Thursday</li>
                    <li class="chbx_staff_days"><input type="checkbox" name="friday" value="friday">Friday</li>
                </ul><br/></br>
                <label class="form_titles">Staff Credentials:</label><br/>
                <input type="checkbox" value="1" name="RBT">RBT?
                <input type="radio" value="1" name="Tier">Tier 1
                <input type="radio" value="2" name="Tier">Tier 2
                <input type="radio" value="3" name="Tier">Tier 3<br/><br/>
                <button type="submit" class="btn_submit" id="btn_add_staff">Add Staff</button>
            </div>
        </form><br/>
        <form id="form_remove_staff" action="/staff/remove" method="POST">
            <div class="fieldset">
                <lable id="slct_staff-name_title" class="form_titles" for="slct_staff_remove">Remove a Staff Member</lable><br/>
                <select id="slct_staff_remove" name="slct_staff_remove">
                    <option disabled selected value="">Staff Name</option>
                    {% for name in staff_names %}
                    <option value="{{ name['name'] }}">{{ name['name'] }}</option>
                    {% endfor %}
                </select><br/>
                <button id="btn_remove_staff" type="submit" class="btn_submit">Remove Staff</button>
            </div>
        </form>
        <script src="../static/staff.js" type="module"></script>
    </div>
{% endblock %}
