{% extends "layout.html" %}

{% block title %}Staff{% endblock %}

{% block main %}
    <div class="description">
        <header>
            <h1>Manage Staff</h1>
        </header>
    </div>
    <div class="div_forms">
        <h2>Add or Remove Staff</h2>
        <form id="form_add_staff" action="/staff" method="POST">
            <fieldset>
                <legend>Add Staff</legend>
                <input type="text" id="staff_name" name="staff_name" placeholder="First and Last Name">
                <lable class="form_titles" for="staff_hours_start">Start Time:</lable>
                <input type="time" name="staff_hours_start" id="staff_hours_start"placeholder="hh:mm (24hr)">
                <lable class="form_titles" for="staff_hours_end">End Time:</lable>
                <input type="time" name="staff_hours_end" id="staff_hours_end" placeholder="hh:mm (24hr)">
                Days Present:
                <ul class="lst_client_days">
                    <li class="chbx_staff_days"><input type="checkbox" name="monday" value="monday">Monday</li>
                    <li class="chbx_staff_days"><input type="checkbox" name="tuesday" value="tuesday">Tuesday</li>
                    <li class="chbx_staff_days"><input type="checkbox" name="wednesday" value="wednesday">Wednesday</li>
                    <li class="chbx_staff_days"><input type="checkbox" name="thursday" value="thursday">Thursday</li>
                    <li class="chbx_staff_days"><input type="checkbox" name="friday" value="friday">Friday</li>
                </ul><br/>
                <input type="checkbox" value="1" name="RBT">RBT?
                <input type="radio" value="1" name="Tier">Tier 1
                <input type="radio" value="2" name="Tier">Tier 2
                <input type="radio" value="3" name="Tier">Tier 3<br/>
                <button type="submit" class="btn_submit" id="btn_add_staff">Add Staff</button>
            </fieldset>
        </form>
        <form id="form_remove_staff" action="/staff/remove" method="POST">
            <fieldset>
                <legend>Remove Staff</legend>
                <select id="slct_staff_remove" name="slct_staff_remove">
                    <option disabled selected value="">Staff Name</option>
                    {% for name in staff_names %}
                    <option value="{{ name['name'] }}">{{ name['name'] }}</option>
                    {% endfor %}
                </select>
                <button id="btn_remove_staff" type="submit" class="btn_submit">Remove Staff</button>
            </fieldset>
        </form>
    </div>
    <div class="div_forms">
        <h2>Update Staff Info</h2>
        <form id="form_update_staff" action="/staff/update" method="POST">
            <fieldset>
                <legend>Update Staff Info</legend>
                <p>
                    Select Staff:<br/>
                    <select id="slct_staff_update" name="slct_staff_update">
                        <option disabled selected value="">Staff Name</option>
                        {% for name in staff_names %}
                        <option value="{{ name['name'] }}">{{ name['name'] }}</option>
                        {% endfor %}
                    </select>
                </p>
                <p style="display: inline;">
                    Update Staff Hours:<br/>
                    <label for="staff_hours_update_start">Start Time:</label>
                    <input type="time" name="staff_hours_update_start" id="staff_hours_update_start" placeholder="hh:mm (24hr)">
                    <label for="staff_hours_update_end">End Time:</label>
                    <input type="time" name="staff_hours_update_end" id="staff_hours_update_end" placeholder="hh:mm (24hr)">
                    <ul class="lst_client_days">
                        <li class="chbx_staff_days"><input type="checkbox" name="monday" value="monday">Monday</li>
                        <li class="chbx_staff_days"><input type="checkbox" name="tuesday" value="tuesday">Tuesday</li>
                        <li class="chbx_staff_days"><input type="checkbox" name="wednesday" value="wednesday">Wednesday</li>
                        <li class="chbx_staff_days"><input type="checkbox" name="thursday" value="thursday">Thursday</li>
                        <li class="chbx_staff_days"><input type="checkbox" name="friday" value="friday">Friday</li>
                    </ul>
                </p>
                <p>
                    Update Staff Attendance:<br/>
                    <select name="mon">
                        <option value="" selected disabled>Monday</option>
                        <option value="1">Present</option>
                        <option value="0">Absent</option>
                    </select>
                    <select name="tue">
                        <option value="" selected disabled>Tuesday</option>
                        <option value="1">Present</option>
                        <option value="0">Absent</option>
                    </select>
                    <select name="wed">
                        <option value="" selected disabled>Wednesday</option>
                        <option value="1">Present</option>
                        <option value="0">Absent</option>
                    </select>
                    <select name="thu">
                        <option value="" selected disabled>Thursday</option>
                        <option value="1">Present</option>
                        <option value="0">Absent</option>
                    </select>
                    <select name="fri">
                        <option value="" selected disabled>Friday</option>
                        <option value="1">Present</option>
                        <option value="0">Absent</option>
                    </select>
                    <input type="checkbox" name="del_hours" value="1">Delete hours where Absent?
                </p>
                <p>
                    Update Staff Credentials:<br/>
                    <input type="checkbox" value="1" name="rbt_update">RBT?
                    <input type="radio" value="1" name="tier_update">Tier 1
                    <input type="radio" value="2" name="tier_update">Tier 2
                    <input type="radio" value="3" name="tier_update">Tier 3<br/>
                    <select name="staff_color">
                        <option value="" disabled selected>Select New Staff Classification</option>
                        <option value="1">Green</option>
                        <option value="2">Yellow</option>
                        <option value="3">Red</option>
                    </select>
                </p>
                <button id="btn_update_staff" type="submit" class="btn_submit">Update Info</button>
            </fieldset>
        </form>
        <script src="../static/staff.js"></script>
    </div>
{% endblock %}
