{% extends "layout.html" %}

{% block title %}View Staff Info{% endblock %}

{% block main %}
    <div class="description">
        <header>
            <h1>Staff Information</h1>
        </header>
    </div>
    <div class="table_container">
        <div id="table_staffinfo">
            <table>
                <caption>Staff Info</caption>
                <tr>
                    <th>Staff Name</th>
                    <th>RBT</th>
                    <th>Tier</th>
                    <th>Color</th>
                </tr>
                {% for row in staff_info %}
                <tr>
                    {% for data in row.values() %}
                    <td>{{ data }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
        <div id="table_staffteams">
            <table>
                <caption>Staff Teams</caption>
                {% for item in staff_teams.items() %}
                <tr>
                    <td class="teams_staffnames">{{ item[0] }}</td>
                </tr>
                    {% for client in item[1] %}
                    <tr>
                        <td class="teams_clientnames">{{ client }}</td>
                    </tr>
                    {% endfor %}
                {% endfor %}
            </table>
        </div>
    </div>
    <table>
        <caption>Staff Hours</caption>
        <tr>
            <th>Staff Name</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
        </tr>
        {% for row in staff_hours %}
        <tr>
            {% for data in row %}
            <td>{{ data }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <table>
        <caption>Staff Attendance</caption>
        <tr>
            <th>Staff Name</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
        </tr>
        {% for row in staff_att %}
        <tr>
            {% for data in row.values() %}
            <td>{{ data }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
{% endblock %}