{% extends "layout.html" %}

{% block title %}View Client Info{% endblock %}

{% block main %}
    <table>
        <caption>Client Info</caption>
        <tr>
            <th>Name</th>
            <th>Total Hours</th>
            <th>Color</th>
        </tr>
        {% for row in client_info %}
        <tr>
            {% for data in row.values() %}
            <td>{{ data }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <table>
        <caption>Client Attendance</caption>
        <tr>
            <th>Name</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
        </tr>
        {% for row in client_att %}
        <tr>
            {% for data in row.values() %}
            <td>{{ data }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <table>
        <caption>Client Hours</caption>
        <tr>
            <th>Name</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
        </tr>
        {% for row in client_hours %}
        <tr>
            {% for data in row.values() %}
            <td>{{ data }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
{% endblock %}