{% extends "layout.html" %}
{% block title %}Client Attendance{% endblock %}
{% block main %}
<div class="tabs">
    <header style="padding: 0;">
        <div class="tab_add-remove">
            <a href="/clients/view-client-info">Client Info</a>
        </div><!--
        --><div class="tab_update">
            <a href="/clients/view-client-hours">Client Hours</a>
        </div><!--
        --><div class="tab3" style="background-color: rgb(220, 231, 235); border: 1px solid lightgrey;border-top: none;">
            <a href="/clients/view-client-att" style="color:#212962;">Client Att.</a>
        </div>
    </header>
</div>
<div class="spacer"></div>
<div class="table_container" id="table_client_att">
    <table class="sticky-th">
        <thead>
            <tr>
                <th>Name</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
            </tr>
        </thead>
        <tbody>
            {% for row in client_att %}
            <tr>
                {% for data in row.values() %}
                <td>{{ data }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}