{% extends "layout.html" %}

{% block title %}View Schedules{% endblock %}

{% block main %}
    <div class="description">
        <header>
            <h1>Schedules: {{ current_day[0] }}</h1>
        </header>
    </div>
    <form class="view_schedules" action="/view-schedule/both" method="POST">
        <div class="div_forms">
            <select name="view_schedule_day_both">
                <option value="" selected disabled>Select a day</option>
                <option value="mon">Monday</option>
                <option value="tue">Tuesday</option>
                <option value="wed">Wednesday</option>
                <option value="thu">Thursday</option>
                <option value="fri">Friday</option>
            </select><!--
            --><button class="btn_submit" type="submit">View Schedule</button>
        </div>
    </form>
    <div class="table_container">
        <div id="table_client_sch">
            <table class="sticky-th">
                <thead>
                    <tr>
                        <th>Client</th>
                        <th>Time</th>
                        <th>Staff</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in schedules[0] %}
                    <tr>
                        {% for data in row %}
                        <td>{{ data }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="table_staff_sch">
            <table class="sticky-th">
                <thead>
                    <tr>
                        <th>Staff</th>
                        <th>Time</th>
                        <th>Client</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in schedules[1] %}
                    <tr>
                        {% for data in row %}
                        <td>{{ data }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}